
/* Probable paleta de colores
https://coolors.co/132a13-31572c-fcfcfc-83bd19-343a40 */

/* <i class="fas fa-pen-square"></i>  ico pencil/edit */

body {
  background-color: #fcfcfc;
  /* background-color: #000; */
}

/* header{
  background-color: #343A40;
} */
nav img {
  max-height: 50px
}

#main .carousel-inner img
{
  height: 60vh;
  object-fit: cover;
  filter: grayscale(70%);
}
#blank .container{
  height: auto;
}
.parrafo-100{
  height: 100%
}

footer img {
  max-width: 100%;
  height: auto;
}

.redimension {
  max-width: 100%;
  height: auto;
}

footer {
  color: #fff;
  /* margin-bottom: 0px; */
}

#footer {
  background-color: #EB0122;

}

.first-footer{
  background-color: #fcfcfc;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #28a745;
}

#cerrar{
  position: absolute;
  top:0;
  right: 0;
}

#eco-principal #init-tramite{
position: absolute;
  bottom:0;
  right: 0;
}

#eco-registro form .card{
  width: 90%;
}
.table img{
  width: 30%;
  height: auto;
}
