/* Probable paleta de colores
https://coolors.co/132a13-31572c-fcfcfc-83bd19-343a40 */
/* <i class="fas fa-pen-square"></i>  ico pencil/edit */
body {
  background-color: #fcfcfc;
  /* background-color: #000; */
}

/* header{
  background-color: #343A40;
} */
nav img {
  max-height: 50px
}

#main .carousel-inner img {
  height: 60vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#blank .container {
  height: auto;
}

.parrafo-100 {
  height: 100%
}

footer img {
  max-width: 100%;
  height: auto;
}

.redimension {
  max-width: 100%;
  height: auto;
}

footer {
  color: #fff;
  /* margin-bottom: 0px; */
}

#footer {
  background-color: #EB0122;
}

.first-footer {
  background-color: #fcfcfc;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #28a745;
}

#cerrar {
  position: absolute;
  top: 0;
  right: 0;
}

#eco-principal #init-tramite {
  position: absolute;
  bottom: 0;
  right: 0;
}

#eco-registro form .card {
  width: 90%;
}

.table img {
  width: 30%;
  height: auto;
}

.btn-pen {
  color: #000;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0)
}

.index {
  z-index: 1031;
}

.modal-tramite {
  width: auto;
  height: auto
}

.bordes {
  border: solid 1px;
  border-color: rgb(186, 186, 186, .7);
}

.tramites-tab {
  width: 16%;
}

#azul a:hover {
  color: rgb(50, 99, 164)
}

.search {
  height: 100%
}

.search-border {
  border: 0px;
}

.vista {
  color: rgb(0, 91, 143)
}

.bt {
  border-top: solid 1px;
  border-color: rgb(186, 186, 186, .7);
}

.clase-provisional {
  width: 100%;
  height: 100%;
  background-color: rgb(231, 77, 197);
}

.anchos {
  width: 100% !important;
}

.verde {
  color: #83BD19;
}

ul small {
  font-weight: bold;
}

.custom-file-input-modal {
  position: relative;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin: 0;
  opacity: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.custom-file-label-modal {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  /* z-index: 1; */
  /* height: calc(1.5em + .75rem + 2px); */
  padding: .375rem .75rem;
  /* font-weight: 400; */
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.custom-file-label-modal:hover {
  background-color: #c7c7c7;
}

.custom-file-label-modal:not(:disabled) {
  cursor: pointer;
}

.tooltips {
  cursor: pointer;
  font-weight: bold;
  text-decoration-color: currentcolor;
  text-decoration-style: solid;
  text-decoration-line: none;
  text-decoration: underline;
}
