<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaWebEcologia.Data.Properties.Settings.ProyectoEcologiaConnectionString"
            connectionString="Data Source=DESKTOP-7UNF9IR;Initial Catalog=ProyectoEcologia;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>